* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.auth-container {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.auth-card {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 40px;
  padding: 40px;
  box-shadow: 1px 1px 10px black;
  width: 100%;
  max-width: 500px;
  font-family: serif;
}




.home-navbar {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}


img {
  max-width: 100%;
  height: auto;
}


.font-serif {
  font-family: 'Times New Roman', Times, serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}